@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Open+Sans&display=swap');

/** Navbar **/

nav {
    background: #ACE1AF;
    height: 140px; 
}

.navbar-brand {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
} 

.navbar-nav { 
    margin-left: auto;  
    padding-top: 45px; 
} 

 .navbar-brand h1 {
   padding-top: 35px;
   padding-left: 30px;  
}

nav li {
    display: inline-block;
    height: 100%;
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
}

.custom-toggler.navbar-toggler { 
    border-color: transparent; 
    box-shadow: none;
    padding-top: 40px;
    padding-right: 30px;
} 
        
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
 "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

/** Navbar **/

/* -------------------------------- Footer */
#footer {
    background-color: #ACE1AF;
}

footer li {
    list-style: none;
  }

footer ul {
    padding: 0;
    margin: 0;
  }
  
footer a {
    color: black;
    -webkit-transition: 0.1s all ease-in-out 0.1s;
    transition: 0.1s all ease-in-out 0.1s;
    text-decoration: none;
  }
  
footer a:hover {
    color: grey;
    text-decoration: none;
  }

/* -------------------------------- Footer */

@media (min-width: 1200px) {

    .navbar-brand h1{
        font-family: 'Love ya like a sister', sans-serif;
        color: black;
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .75;
    }

    .active a:hover {
        border-bottom: 1px solid black;
    }
    
    .active {
        border-bottom: 1px solid black;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    /** Navbar **/

    .navbar-brand h1{
        font-family: 'Love ya like a sister', sans-serif;
        color: black;
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .75;
    }
    
    nav li {
        display: inline-block;
        height: 100%;
        padding-right: 40px;
        font-family: 'Love ya like a sister', sans-serif;
        font-size: 15px;
    }
    
    .active a:hover {
        border-bottom: 1px solid black;
    }
    
    .active {
        border-bottom: 1px solid black;
    }

    /** Navbar **/
}

@media (min-width: 768px) and (max-width: 991px) {

    /** Navbar **/

    .navbar-brand h1{
        font-family: 'Love ya like a sister', sans-serif;
        color: black;
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .75;
    }
    
    nav li {
        display: inline-block;
        height: 100%;
        padding-left: 25px; 
    }
    
    .navbar-collapse {
       padding-left: 25px;
       padding-top: 0px; 
       margin-top: 17px;
       margin-bottom: 20px;
       background-color: #ACE1AF;
    }

    /** Navbar **/

}

@media (max-width: 767px) {


    /** Navbar **/
    
    .navbar-brand h1{
        font-family: 'Love ya like a sister', sans-serif;
        color: black;
        font-size: 25px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 35px;
        padding-left: 10px;
    }
    
    nav li {
        display: inline-block;
        height: 100%;
        padding-left: 30px; 
    }  
    
    .navbar-collapse {
       padding-left: 10px;
       padding-top: 0px;
       margin-top: 10px;
       margin-bottom: 20px;
       background-color: #ACE1AF;
 
    }
    /** Navbar **/
}