@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Open+Sans&display=swap');


/** carousel **/

.imagesize {
    height:400px;
}

.hpimage {
    width: 250px;
    height: 200px;
}

/** Genral **/



.text-styleheading {
    font-family: 'Love ya like a sister', sans-serif;
}

.text-style {
    font-family: 'Open Sans', sans-serif;
}

.padding {
    padding-top:50px;
    padding-bottom: 100px;
}

/** Genral **/

/** Navbar **/

.nav {
    background: #ACE1AF;
    height: 140px;
    width: 100%;
}

.navbar-brand {
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Love ya like a sister', sans-serif;
} 

.navbar-nav { 
    margin-left: auto;  
    padding-top: 45px; 
} 

 .navbar-brand h1 {
   padding-top: 35px;
   padding-left: 30px;  
}

nav li {
    display: inline-block;
    height: 100%;
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
}

.custom-toggler.navbar-toggler { 
    border-color: transparent; 
    box-shadow: none;
    padding-top: 40px;
    padding-right: 30px;
} 
        
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
 "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

/** Navbar **/

/* -------------------------------- Footer */
#footer {
    background-color: #ACE1AF;
}

footer h2 {
    font-family: 'Love ya like a sister', sans-serif;
}

footer i {
    margin-left: 20px;
}
footer li {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
  }

footer ul {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
footer a {
    color: black;
    -webkit-transition: 0.1s all ease-in-out 0.1s;
    transition: 0.1s all ease-in-out 0.1s;
    text-decoration: none;
  }
  
footer a:hover {
    color: grey;
    text-decoration: none;
  }

/* -------------------------------- Footer */

/** flash message **/

.flash {
    padding-top:200px;
    font-family: 'Open Sans', sans-serif;
}

.bgcolor {
    background-color: #ACE1AF;
}

/* -------------------------------- registration page */

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 500px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 10px;
    background-color:#ACE1AF;
    border: none;
}

.makeaccount {
    font-family: 'Open Sans', sans-serif;
}

/* -------------------------------- recipe page */

.recipepage{
    padding-left: 40px;
    margin-bottom: 30px;
}

.recipeimage {
    width: 470px;
    height: 300px;
}

.ingredients {
    margin-top: 40px;
    background-color: #D0D0D0;
    width: 74%;
}

.ingredients h3 {
    font-family: 'Love ya like a sister', sans-serif;
    text-align: center;
    padding-top: 10px;
}

.ingredients p {
    font-family: 'Open Sans', sans-serif;
}

.borderrecipe {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
    margin-right: 40px;
}

.recipename {
    padding-left: 10px;
    padding-top: 10px;
}

.recipename h1, h3 {
    font-family: 'Love ya like a sister', sans-serif;
}

.recipestuff {
    padding-left: 10px;
    padding-top: 10px;
}

.directions {
    padding-left: 10px;
    padding-top: 10px;
}

.directions h3 {
    font-family: 'Love ya like a sister', sans-serif;
}

.notes {
    padding-left: 10px;
    padding-top: 10px;
}

.notes h3 {
    font-family: 'Love ya like a sister', sans-serif;
}


/* -------------- accordian on add recipe page */

.accordianpadding {
    padding-bottom: 10px;
}

@media (min-width: 1200px) {

    .navbar-brand h1{
        font-family: 'Love ya like a sister', sans-serif;
        color: black;
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .75;
    }

    .active a:hover {
        border-bottom: 1px solid black;
    }
    
    .active {
        border-bottom: 1px solid black;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    /** Navbar **/

    .navbar-brand h1{
        font-family: 'Love ya like a sister', sans-serif;
        color: black;
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .75;
    }
    
    nav li {
        display: inline-block;
        height: 100%;
        padding-right: 40px;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }
    
    .active a:hover {
        border-bottom: 1px solid black;
    }
    
    .active {
        border-bottom: 1px solid black;
    }

    /** Navbar **/
}

@media (min-width: 768px) and (max-width: 991px) {

    /** Navbar **/

    .navbar-brand h1{
        font-family: 'Love ya like a sister', sans-serif;
        color: black;
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .75;
    }
    
    nav li {
        display: inline-block;
        height: 100%;
        padding-left: 25px; 
    }
    
    .navbar-collapse {
       padding-left: 25px;
       padding-top: 0px; 
       margin-top: 17px;
       margin-bottom: 20px;
       background-color: #ACE1AF;
    }

    /** Navbar **/

}

@media (max-width: 767px) {


    /** Navbar **/
    
    .navbar-brand h1{
        font-family: 'Love ya like a sister', sans-serif;
        color: black;
        font-size: 25px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 35px;
        padding-left: 10px;
    }
    
    nav li {
        display: inline-block;
        height: 100%;
        padding-left: 30px; 
    }  
    
    .navbar-collapse {
       padding-left: 10px;
       padding-top: 0px;
       margin-top: 10px;
       margin-bottom: 20px;
       background-color: #ACE1AF;
 
    }
    /** Navbar **/
}