@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body { 
    padding-top: 150px;
    height: 100%;
    background-color: #fcf7f2;
    font-family: 'Open Sans', sans-serif;
}

/** Flash messages **/
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: 0.6s;
    margin-top: 90px;
    width: 30%;
    text-align: center;
    left: 35%;
  }
  
  .alert.success {
      background-color: #efd3d7;
      font-family: 'Open Sans', sans-serif;
      color: black;
  }
  
  .closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
      color: black;
  }
  /** Flash messages **/

/** homepage **/

.carousel-image {
    max-height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hpimage {
    width: 200px;
    height: 200px;
}

.toprecipes {
    text-decoration: none;
    color:black;
    font-family: 'Open Sans', sans-serif;
    background-color: #F6F6F6;
}

.recipename {
    font-family: 'Open Sans', sans-serif;
}

.imagebuttons {
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.category a {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.btn-cream {
    background: #fcf7f2;
    color: black;
    border: 1px solid black;

  }
  
.btn-cream:hover,
.btn-cream:active,
.btn-cream:focus {
    background: black;
    color: #fcf7f2;
  }

.home-banner {
    background-color: #efd3d7;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-family: 100px;
    font-weight: bolder;
}
  
.home-banner p {
    font-size: 18px;
}

.home-banner h1 {
    padding-top: 50px;
}

.home-banner-image img {
    height: auto; 
    width: 708px; 
}

.btn-black {
    background: #efd3d7;
    color: black;
    border: 2px solid black;

  }

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
      background: black;
      color: #efd3d7;
    }

.text-styleheading {
    font-family: 'Open Sans Condensed', sans-serif;
}

/** Genral **/

.text-style {
    font-family: 'Open Sans', sans-serif;
}

.padding {
    padding-top:50px;
    padding-bottom: 100px;
}

/** Genral **/

/** Navbar **/

.nav {
    background: #bcd4de;
    height: 140px;
    width: 100%;
}

.navbar-brand {
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
} 

.navbar-nav { 
    margin-left: auto;  
    padding-top: 45px; 
} 

.navbar-brand h1 {
   padding-top: 35px;
   padding-left: 30px;  
}

nav li {
    display: inline-block;
    height: 100%;
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
}

.custom-toggler.navbar-toggler { 
    border-color: transparent; 
    box-shadow: none;
    padding-top: 40px;
    padding-right: 30px;
} 
        
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
 "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

/** Navbar **/

/* -------------------------------- Footer */
#footer {
    background-color: #bcd4de;
}

footer h4 {
    font-family: 'Playfair Display', serif;
}

footer h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

footer i {
    margin-left: 20px;
}
footer li {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
  }

footer ul {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
footer a {
    color: black;
    -webkit-transition: 0.1s all ease-in-out 0.1s;
    transition: 0.1s all ease-in-out 0.1s;
    text-decoration: none;
  }
  
footer a:hover {
    color: grey;
    text-decoration: none;
  }

/* -------------------------------- Footer */

/** flash message **/

.flash {
    padding-top:200px;
    font-family: 'Open Sans', sans-serif;
}

.bgcolor {
    background-color: #ACE1AF;
}

/* -------------------------------- registration page */

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 500px;
    padding: 40px 40px;
}

.login-button{
	margin-top: 10px;
    background-color:#ACE1AF;
    border: none;
}

.makeaccount {
    font-family: 'Open Sans', sans-serif;
}

/* -------------------------------- feedme recipe page */

.search-bar input {
    height: 40px;
     width: 60%;
}

/* -------------------------------- recipe page */

.card {
    background-color: #fcf7f2;
}

.recipeimage,
.home-image {
    width: 400px;
    height: 270px;
    border-radius: 5px;
}

.hide {
    display: none;
}
     
.recipeimage:hover {
    opacity: 0.4;
}

.recipeimage:hover + .hide {
    display: inline-block;
}

.recipe-card {
    position: relative;
    text-align: center;
  }

.recipe-card div {
    color: black;
    border: 1px solid black;
    font-weight: 800;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.recipename {
    padding-top: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.recipe-card-info {
    padding-left: 30px;
    padding-top: 10px;
    font-family: 'Playfair Display', serif;
}

.recipe-card-info h1 {
    text-align: center;
}

.recipe-card-info li {
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

/* -------------------------------- recipe page */

.recipepage {
    padding-top: 50px;
}

.recipe-image {
    width: 400px;
    height: 270px;
    border-radius: 5px;
}

.accordion {
    text-align: center;
    padding-top: 10px;
}

.border-recipe {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
    margin-right: 40px;
    background-color: white;
}

.recipestuff {
    padding-left: 10px;
    padding-top: 10px;
}

.directions {
    padding-left: 10px;
    padding-top: 10px;
}

.directions h3 {
    font-family: 'Love ya like a sister', sans-serif;
}

.notes {
    padding-left: 10px;
    padding-top: 10px;
}

.notes h3 {
    font-family: 'Love ya like a sister', sans-serif;
}


/* -------------- accordian on add recipe page */

.accordianpadding {
    padding-bottom: 10px;
}

/* -------------- accordian on add recipe page */

@media (min-width: 1200px) {

    .navbar-brand h1{
        font-family: 'Playfair Display', serif;
        color: black;
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .75;
    }

    .active a:hover {
        border-bottom: 1px solid black;
    }
    
    .active {
        border-bottom: 1px solid black;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    .home-banner-image img {
        height: 260px; 
        width: auto; 
    }

    .imagebuttons {
        height: 140px;
        width: 140px;
        border-radius: 50%;
    }

    .home-banner h1 {
        padding-top: 20px;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {

    /** Navbar **/
    main {
        min-height: 80vh;
        height: 100%; 
        margin: 0 auto -30px;
    }

    .navbar-brand h1{
        font-family: 'Playfair Display', serif;
        color: black;
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .75;
    }
    
    nav li {
        display: inline-block;
        height: 100%;
        padding-right: 40px;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }
    
    .active a:hover {
        border-bottom: 1px solid black;
    }
    
    .active {
        border-bottom: 1px solid black;
    }


    /** Navbar **/
}

@media (min-width: 768px) and (max-width: 991px) {

    /** Navbar **/
    main {
        min-height: 80vh;
        height: 100%; 
        margin: 0 auto -30px;
    }

    .navbar-brand h1{
        font-family: 'Playfair Display', serif;
        color: black;
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 0;
        line-height: .75;
    }
    
    nav li {
        display: inline-block;
        height: 100%;
        padding-left: 25px; 
    }
    
    .navbar-collapse {
       padding-left: 25px;
       padding-top: 0px; 
       margin-top: 17px;
       margin-bottom: 20px;
       background-color: #bcd4de;
    }

    .home-image {
        width: 400px;
        height: auto;
        border-radius: 5px;
    }

    .home-banner {
        height: 300px;
    }

    /** Navbar **/

}

@media (max-width: 767px) {


    /** Navbar **/
    
    .navbar-brand h1{
        font-family: 'Playfair Display', serif;
        color: black;
        font-size: 25px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 35px;
        padding-left: 10px;
    }
    
    nav li {
        display: inline-block;
        height: 100%;
        padding-left: 30px; 
    }  
    
    .navbar-collapse {
       padding-left: 10px;
       padding-top: 0px;
       margin-top: 10px;
       margin-bottom: 20px;
       background-color: #bcd4de;
 
    }

    .alert {
        width: 70%;
        left: 15%;
    } 

    .home-banner {
        height: 300px;
    }

    .recipe-image {
        width: 250px;
        height: 170px;
        border-radius: 5px;
    }

    .recipepage {
        padding-left: 50px;
    }

    .home-image {
        width: 400px;
        height: auto;
        border-radius: 5px;
    }
    

}