{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-5 mx-auto">
        <div id="first">
            <div class="myform form ">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h3>Add recipe</h3>
                    </div>
                </div>
                <form method="POST" action="{{ url_for('add_recipe') }}">
                    <div class="form-group">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <label for="recipe_name">Recipe Name</label>
                        <input type="text" class="validate form-control" id="recipe_name" name="recipe_name" required>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <label for="image_url">Image URL</label>
                        <input type="text" class="validate form-control" id="image_url" name="image_url" required>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                        <label for="time">Time</label>
                        <input type="text" class="validate form-control" id="time" name="time" required>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <label for="servings">Servings</label>
                        <input type="text" class="validate form-control" id="servings" name="servings" required>
                        </div>
                    </div>
                    <div class="row">
                        <button class="accordion">Ingredients</button>
                            <div class="paneldrop">
                                <div class="accordianpadding">
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="ingredient_1">Ingredients</label>
                                        <input type="text" class="validate form-control" id="ingredient_1" name="ingredient_1" required>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="ingredient_2">Ingredients</label>
                                        <input type="text" class="validate form-control" id="ingredient_2" name="ingredient_2" required>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="ingredient_3">Ingredients</label>
                                        <input type="text" class="validate form-control" id="ingredient_3" name="ingredient_3" required>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="ingredient_4">Ingredients</label>
                                        <input type="text" class="validate form-control" id="ingredient_4" name="ingredient_4" required>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="ingredient_5">Ingredients</label>
                                        <input type="text" class="validate form-control" id="ingredient_5" name="ingredient_5" required>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="ingredient_6">Ingredients</label>
                                        <input type="text" class="validate form-control" id="ingredient_6" name="ingredient_6" required>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="ingredient_7">Ingredients</label>
                                        <input type="text" class="validate form-control" id="ingredient_7" name="ingredient_7" required>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="ingredient_8">Ingredients</label>
                                        <input type="text" class="validate form-control" id="ingredient_8" name="ingredient_8" required>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="ingredient_9">Ingredients</label>
                                        <input type="text" class="validate form-control" id="ingredient_9" name="ingredient_9" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="accordion">Directions</button>
                            <div class="paneldrop">
                                <div class="accordianpadding">
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="direction_1">Directions: Step 1</label>
                                        <textarea class="form-control" rows="6" id="direction_1" name="direction_1" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="direction_2">Directions: Step 2</label>
                                        <textarea class="form-control" rows="6" id="direction_2" name="direction_2" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="direction_3">Directions: Step 3</label>
                                        <textarea class="form-control" rows="6" id="direction_3" name="direction_3" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="direction_4">Directions: Step 4</label>
                                        <textarea class="form-control" rows="6" id="direction_4" name="direction_4" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="direction_5">Directions: Step 5</label>
                                        <textarea class="form-control" rows="6" id="direction_5" name="direction_5" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="direction_6">Directions: Step 6</label>
                                        <textarea class="form-control" rows="6" id="direction_6" name="direction_6" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="direction_7">Directions: Step 7</label>
                                        <textarea class="form-control" rows="6" id="direction_7" name="direction_7" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="direction_8">Directions: Step 8</label>
                                        <textarea class="form-control" rows="6" id="direction_8" name="direction_8" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <label for="direction_9">Directions: Step 9</label>
                                        <textarea class="form-control" rows="6" id="direction_9" name="direction_9" required></textarea>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    <div class="form-group">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <label for="notes">Notes</label>
                        <textarea class="form-control" rows="6" id="notes" name="notes" required></textarea>
                    </div>
                    <div class="form-group text-center ">
                        <button type="submit" class="btn btn-success btn-lg btn-block login-button">
                            Publish
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}