<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>FeedMe</title>
</head>
<body>
    <header class="nav fixed-top">
        <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <a class="navbar-brand" href="{{ url_for('home')}}">
                <h1>FeedMe <i class="fas fa-cookie"></i></h1>
            </a>
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home')}}">Home</i></a>
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('site_recipes' )}}">FeedMe Recipes</a>
                    </li>
                    {% if session.user|lower == "admin"|lower %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin' )}}">Admin Page</a>
                    </li>
                    {% endif %}
                    {% if session.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('get_recipes' )}}">Your
                                Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('add_recipe') }}">Add Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout')}}">Log out</a>
                        </li>
                   {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login')}}">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register')}}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        </div>
    </header>

    <section class="flash text-center">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div>
                        <h2 class="bgcolor">{{ message }}</h2>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    </section>

    {% block content %}
    {% endblock %}
    
    <footer id="footer" class="container-fluid mx-auto">
        <div class="row mx-auto" style="width: 80%;">
            <div class="col-md-3 col-6">
                <a href="#" class="nav-link">
                    <h2 class="mt-4">FeedMe<i class="fas fa-cookie"></i></h2>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-facebook-square fa-2x text-black ml-5 mb-3"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-twitter-square fa-2x text-black ml-3"></i>
                </a><br>
                <a href="#" target="_blank">
                    <i class="fab fa-pinterest-square fa-2x text-black ml-5"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-instagram fa-2x text-black ml-3"></i>
                </a>
            </div>
            <div class="col-md-3 col-6">
                <h5 class="mt-5"><strong>Contact us</strong></h5>
                <ul>
                    <li>Sales@FeedMe.com</li>
                    <li>Tel: 029 678 2342</li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <h5 class="mt-5"><strong>Recipes</strong></h5>
                <ul>
                    <li><a href="{{ url_for('category_appetizer' )}}">Appetizer</a></li>
                    <li><a href="{{ url_for('category_meal' )}}">Meal</a></li>
                    <li><a href="{{ url_for('category_side' )}}">Side</a></li>
                    <li ><a href="{{ url_for('category_breakfast' )}}">Breakfast</a></li>
                    <li><a href="{{ url_for('category_dessert' )}}">Dessert</a></li>
                    <li><a href="{{ url_for('category_drinks' )}}">Drinks</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                {% if session.user %}
                    <h5 class="mt-5"><strong>My account</strong></h5>
                    <ul>
                        <li><a href="{{ url_for('get_recipes' )}}">Your Recipes</a></li>
                        <li><a href="{{ url_for('logout')}}">Logout</a></li>
                    </ul>
                {% else %}   
                    <h5 class="mt-5"><strong>My account</strong></h5>
                    <ul>
                        <li><a href="{{ url_for('register' )}}">Register</a></li>
                        <li><a href="{{ url_for('login')}}">Login</a></li>
                    </ul>
                {% endif %}
            </div>
            <div class="col-12 mt-5 mb-3 text-center">
                <small>© FeedMe 2021</small>
            </div>
        </div>
    </div>
    </div>
    </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>