{% extends "base.html" %}
{% block content %}

<div class="container col-12 col-md-8 offset-md-2">
    <div class="pt-5">
        <h1 class="faq">Frequently Asked Questions</h1>
        <hr>
    </div>
     <!-- FAQ accordian -->
    <button class="accordion">What is the FeedMe website?</button>
    <div class="panel">
        <p>Lorem ipsum...</p>
    </div>
  
    <button class="accordion">How do I become a member?</button>
    <div class="panel">
        <p>Lorem ipsum...</p>
    </div>
  
    <button class="accordion">Do I need to pay to become a member?</button>
    <div class="panel">
        <p>Lorem ipsum...</p>
    </div>
  
    <button class="accordion">How do I add a recipe?</button>
    <div class="panel">
        <p>Lorem ipsum...</p>
    </div>
  
    <button class="accordion">Can I edit and delete the recipes I have added?</button>
    <div class="panel">
        <p>Lorem ipsum...</p>
    </div>
  
    <button class="accordion">Section 3</button>
    <div class="panel">
        <p>Lorem ipsum...</p>
    </div>
  
    <button class="accordion bottom-accordian">Section 3</button>
    <div class="panel botton-panel">
        <p>Lorem ipsum...</p>
    </div>
  </div>

{% endblock %}