{% extends "base.html" %}
{% block content %}

<section class="text-style container-fluid recipepage">
    <div class="row">
        <div class="col-6">
            <div class="form-group text-center ">
                {% if session.user|lower == recipe.created_by|lower %}
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-success btn-lg btn-block login-button">
                    Edit
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group text-center ">
                {% if session.user|lower == recipe.created_by|lower %}
                <button type="submit" class="btn btn-success btn-lg btn-block login-button">
                    Delete
                </button>
                {% endif %}
            </div>
        </div>
        <div class="col-4">
            <div>
                <img  class="recipeimage" src="{{ recipe.image_url }}">
            </div>
            <div class="ingredients">
                <h3>Ingredients</h3>
                {% if recipe.ingredient_1 == "" %}
                {% else %}
                <p>{{ recipe.ingredient_1}}</p>
                {% endif %}
                {% if recipe.ingredient_2 == "" %}
                {% else %}
                <p>{{ recipe.ingredient_2}}</p>
                {% endif %}
                {% if recipe.ingredient_3 == "" %}
                {% else %}
                <p>{{ recipe.ingredient_3}}</p>
                {% endif %}
                {% if recipe.ingredient_4 == "" %}
                {% else %}
                <p>{{ recipe.ingredient_4}}</p>
                {% endif %}
                {% if recipe.ingredient_5 == "" %}
                {% else %}
                <p>{{ recipe.ingredient_5}}</p>
                {% endif %}
                {% if recipe.ingredient_6 == "" %}
                {% else %}
                <p>{{ recipe.ingredient_6}}</p>
                {% endif %}
                {% if recipe.ingredient_7 == "" %}
                {% else %}
                <p>{{ recipe.ingredient_7}}</p>
                {% endif %}
                {% if recipe.ingredient_8 == "" %}
                {% else %}
                <p>{{ recipe.ingredient_8}}</p>
                {% endif %}
                {% if recipe.ingredient_9 == "" %}
                {% else %}
                <p>{{ recipe.ingredient_9}}</p>
                {% endif %}
            </div>
        </div>
        <div class="col-6">
            <div class="borderrecipe">
                <div class="recipename">
                    <h1>{{ recipe.recipe_name}}</h1>
                </div>
                <div class="recipename">
                    <p>{{ recipe.created_by}}</p>
                </div>
                <div class="recipename">
                    <p>{{ recipe.category_name }}</p>
                </div>
                    <div class="row recipestuff">
                        <div class="col-3">
                            <p><i class="fas fa-clock"></i> {{ recipe.time}} </p>
                        </div>
                        <div class="col-3">
                            <p><i class="fas fa-users"></i> {{ recipe.servings}}</p>
                        </div>
                    </div>
                <div class="directions">
                    <h3>Directions</h3>    
                    <ol>
                        {% if recipe.direction_1 == "" %}
                        {% else %}
                        <li>{{ recipe.direction_1}}</li>
                        {% endif %}
                        {% if recipe.direction_2 == "" %}
                        {% else %}
                        <li>{{ recipe.direction_2}}</li>
                        {% endif %}
                        {% if recipe.direction_3 == "" %}
                        {% else %}
                        <li>{{ recipe.direction_3}}</li>
                        {% endif %}
                        {% if recipe.direction_4 == "" %}
                        {% else %}
                        <li>{{ recipe.direction_4}}</li>
                        {% endif %}
                        {% if recipe.direction_5 == "" %}
                        {% else %}
                        <li>{{ recipe.direction_5}}</li>
                        {% endif %}
                        {% if recipe.direction_6 == "" %}
                        {% else %}
                        <li>{{ recipe.direction_6}}</li>
                        {% endif %}
                        {% if recipe.direction_7 == "" %}
                        {% else %}
                        <li>{{ recipe.direction_7}}</li>
                        {% endif %}
                        {% if recipe.direction_8 == "" %}
                        {% else %}
                        <li>{{ recipe.direction_8}}</li>
                        {% endif %}
                        {% if recipe.direction_9 == "" %}
                        {% else %}
                        <li>{{ recipe.direction_9}}</li>
                        {% endif %}
                    </ol>
                </div>
                <div class="notes">
                    <h3>Notes</h3>
                    <p>{{ recipe.notes}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}