<footer id="footer" class="container-fluid mx-auto">
    <div class="row mx-auto" style="width: 80%;">
        <div class="col-md-3 col-6">
            <a href="#" class="nav-link">
                <h2 class="mt-4">FeedMe <i class="fas fa-cookie"></i></strong></h2>
            </a>
            <a href="" target="_blank">
                <i class="fab fa-facebook-square fa-2x text-black ml-5 mb-3"></i>
            </a>
            <a href="" target="_blank">
                <i class="fab fa-twitter-square fa-2x text-black ml-3"></i>
            </a><br>
            <a href="" target="_blank">
                <i class="fab fa-pinterest-square fa-2x text-black ml-5"></i>
            </a>
            <a href="" target="_blank">
                <i class="fab fa-instagram fa-2x text-black ml-3"></i>
            </a>
        </div>
        <div class="col-md-3 col-6">
            <h5 class="mt-5"><strong>Contact us</strong></h5>
            <ul>
                <li class="footer-item">Sales@FeedMe.com</li>
                <li class="footer-item">Tel: 029 678 2342</li>
            </ul>
        </div>
        <div class="col-md-3 col-6">
            <h5 class="mt-5"><strong>Pets</strong></h5>
            <ul>
                <li class="footer-item"><a href="">Appetizer</a></li>
                <li class="footer-item"><a href="">Meal</a></li>
                <li class="footer-item"><a href="">Side</a></li>
                <li class="footer-item"><a href="">Breakfast</a></li>
                <li class="footer-item"><a href="">Dessert</a></li>
                <li class="footer-item"><a href="">Drinks</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-6">
            <h5 class="mt-5"><strong>My account</strong></h5>
            <ul>
                <li class="footer-item"><a href="">Your Recipes</a></li>
                <li class="footer-item"><a href="">Logout</a></li>
            </ul>
        </div>
        <div class="col-12 mt-3 text-center">
            <small>© PetPals 2021 <span id="copyright-year"></span></small>
        </div>
    </div>
</div>
</div>
</div>

</footer>