<footer id="footer" class="container-fluid mx-auto">
    <div class="row mx-auto" style="width: 80%;">
        <div class="col-md-3 col-6">
            <a href="#" class="nav-link">
                <h2 class="mt-4">FeedMe <i class="fas fa-cookie"></i></h2>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-facebook-square fa-2x text-black ml-5 mb-3"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-twitter-square fa-2x text-black ml-3"></i>
            </a><br>
            <a href="#" target="_blank">
                <i class="fab fa-pinterest-square fa-2x text-black ml-5"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-instagram fa-2x text-black ml-3"></i>
            </a>
        </div>
        <div class="col-md-3 col-6">
            <h5 class="mt-5"><strong>Contact us</strong></h5>
            <ul>
                <li>Sales@FeedMe.com</li>
                <li>Tel: 029 678 2342</li>
            </ul>
        </div>
        <div class="col-md-3 col-6">
            <h5 class="mt-5"><strong>Recipes</strong></h5>
            <ul>
                <li><a href="">Appetizer</a></li>
                <li><a href="">Meal</a></li>
                <li><a href="">Side</a></li>
                <li ><a href="">Breakfast</a></li>
                <li><a href="">Dessert</a></li>
                <li><a href="">Drinks</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-6">
            <h5 class="mt-5"><strong>My account</strong></h5>
            <ul>
                <li><a href="">Your Recipes</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </div>
        <div class="col-12 mt-3 text-center">
            <small>© FeedMe 2021</small>
        </div>
    </div>
</div>
</div>
</div>

</footer>