<header>
    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="#">
            <h1>FeedMe <i class="fas fa-cookie"></i></h1>
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</i></a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="#">FeedMe Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Your
                        Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Log out</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="#">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
               
            </ul>
        </div>
    </nav>
    </div>
</header>