{% extends "base.html" %}
{% block content %}
<section class="text-style container recipepage">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 recipe-info-card">
            <div class="border-recipe">
                <div class="recipe-card-info text-uppercase text-center pt-4">
                    <h1>Beefy pasta</h1>
                </div>
                <div class="d-flex justify-content-center">
                    <img class="recipe-image mt-4 mb-5" src="static/images/recipe_4.jpg">
                </div>
                <div class="row">
                    <div class="col-6 d-flex justify-content-end">
                        <div>
                            <p>Author: Admin</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-start">
                        <div>
                            <p>Course Type: Meal </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 d-flex justify-content-end">
                        <div>
                            <p><i class="fas fa-clock"></i> Time: 40</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-start">
                        <div>
                            <p><i class="fas fa-users"></i> Servings: 4</p>
                        </div>
                    </div>
                </div>
                <div class="container recipe-card-info">
                    <h4 class="text-uppercase mt-3">Ingredients</h4>
                        <ul>
                            <li>Beef</li>
                            <li>Beef</li>
                            <li>Beef</li>
                            <li>Beef</li>
                            <li>Beef</li>
                            <li>Beef</li>
                        </ul>
                </div>
                <div class="container recipe-card-info">
                    <h4 class="text-uppercase pr-5">Directions</h4>    
                    <ol>   
                        <li>Cook the beef</li>
                        <li>Cook the beef</li>
                        <li>Cook the beef</li>
                        <li>Cook the beef</li>
                        <li>Cook the beef</li>
                        <li>Cook the beef</li>
                    </ol>
                </div>
                <div class="container recipe-card-info">
                    <h3>Notes</h3>
                    <p class="pb-5">notes</p>
                </div>
                <hr>
                <div class="text-center mb-5">
                    <a href="{{ url_for('site_recipes')}}" class="btn btn-cream mb-3">
                        See All Recipes
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}