{% extends "base.html" %}
{% block content %}
    
<section class="text-style container-fluid recipepage">
    <div class="row">
        <div class="col-6">
            <div>
                <img class="recipeimage" src="static/images/recipe_4.jpg">
            </div>
            <div class="ingredients">
                <h3></h3>
                    <p>Beef</p>
                    <p>Stock</p>
                    <p>Egg</p>
                    <p>Pastry</p>
                    <p>Oil</p>
                    <p>Carrots</p>
                    <p>Onion</p>
                    <p>Potato</p>
                    <p>Chicken</p>
                    <p>Milk</p>
            </div>
        </div>
        <div class="col-6">
            <div class="borderrecipe">
                <div class="recipename">
                    <h1>Beefy Pasta</h1>
                </div>
                <div class="recipename">
                    <p>FeedMe Recipe</p>
                </div>
                    <div class="row recipestuff">
                        <div class="col-3">
                            <p><i class="fas fa-clock"></i> 30 minutes </p>
                        </div>
                        <div class="col-3">
                            <p><i class="fas fa-users"></i>4</p>
                        </div>
                    </div>
                <div class="directions">
                    <h3>Directions</h3>    
                    <ol>
                        <li>Cook the beef</li>
                        <li>Cook the beef</li>
                        <li>Cook the beef</li>
                        <li>Cook the beef</li>
                        <li>Cook the beef</li>
                        <li>Cook the beef</li>
                        <li>Cook the beef</li>
                        <li>Cook the beef</li>
                        <li>Cook the beef</li>
                        <li>Cook the beef</li>
                    </ol>
                </div>
                <div class="notes">
                    <h3>Notes</h3>
                    <p>Cook the beef</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}