{% extends "base.html" %}
{% block content %}
    
{% for recipe in recipes %}
<section class="text-style container-fluid recipepage">
    <div class="row">
        <div class="col-6">
            <div>
                <img class="recipeimage" src="{{ recipe.image_url }}">
            </div>
            <div class="ingredients">
                <h3>Ingredients</h3>
                <ul>
                    <li>{{ recipe.ingredient_1}}</li>
                    <li>{{ recipe.ingredient_2}}</li>
                    <li>{{ recipe.ingredient_3}}</li>
                    <li>{{ recipe.ingredient_4}}</li>
                    <li>{{ recipe.ingredient_5}}</li>
                    <li>{{ recipe.ingredient_6}}</li>
                    <li>{{ recipe.ingredient_7}}</li>
                    <li>{{ recipe.ingredient_8}}</li>
                    <li>{{ recipe.ingredient_9}}</li>
                    <li>{{ recipe.ingredient_10}}</li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="borderrecipe">
                <div class="recipename">
                    <h1>{{ recipe.recipe_name}}</h1>
                    <p>{{ recipe.recipe_type}}</p>
                </div>
                    <div class="row recipestuff">
                        <div class="col-3">
                            <p><i class="fas fa-clock"></i> {{ recipe.time}} </p>
                        </div>
                        <div class="col-3">
                            <p><i class="fas fa-users"></i> {{ recipe.servings}}</p>
                        </div>
                    </div>
                <div class="directions">
                    <h3>Directions</h3>    
                    <p>{{ recipe.directions}}</p>
                </div>
                <div class="notes">
                    <h3>Notes</h3>
                    <p>{{ recipe.notes}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}