{% extends "base.html" %}
{% block content %}


<section class="text-style container recipepage">
    <div class="row">
        <form method="POST" action="{{ url_for('search') }}">
            <div class="form-group search-bar d-flex justify-content-center mt-5">
                <input type="text" class="validate form-control" id="query" name="query" required>
            </div>
            <div class="form-group text-center ">
                <a href="{{ url_for('site_recipes')}}" class="btn btn-cream">
                    Cancel
                </a>
                <button type="submit" class="btn btn-cream">
                    Search
                </button>
            </div>
        </form>
    </div>
    {% if recipes|length > 0%}
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-sm-6 col-md-6 col-lg-4 d-inline p-2">
                <div class="card h-100 border-0">
                    <a class="recipe-card" href="{{ url_for('feedme_recipe', recipe_id=recipe._id)}}">
                        <img class="card-img-top img-fluid recipeimage mt-3" src="{{ recipe.image_url }}">
                        <div class="hide centered text-uppercase p-3">See Recipe</div>
                    </a>
                    <div class="card-body recipename text-center text-uppercase">
                        <h3>{{ recipe.recipe_name}}</h3>
                        <p>{{ recipe.created_by}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <h3>No results found</h3>
    {% endif %}
</section>

{% endblock %}



    