{% extends "base.html" %}
{% block content %}
    

<section class="text-style container">
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-sm-6 col-md-6 col-lg-4 d-inline p-2">
                <div class="card h-100 border-0">
                    {% if session.user|lower == recipe.created_by|lower %}
                        <a class="recipe-card" href="{{ url_for('view_recipe', recipe_id=recipe._id)}}">
                            <img class="card-img-top img-fluid recipeimage mt-3" src="{{ recipe.image_url }}">
                            <div class="hide centered text-uppercase p-3">See Recipe</div>
                        </a>
                        <div class="card-body recipename text-center text-uppercase">
                            <h3>{{ recipe.recipe_name}}</h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}